# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/

# ComfyUI
pytorch_model.bin
*.ckpt
*.safetensors
cache/

# OS
Thumbs.db
Desktop.ini
.DS_Store

# IDE
.vscode/
.idea/
*.swp
*.swo

# 项目特定
machin_id.txt
machine_id.txt
*.log
